In [3]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
visa_df=pd.read_csv(r"E:\Data Science Course\Data files\Visadataset.csv")
cat_col=visa_df.select_dtypes(include='object').columns
num_col=visa_df.select_dtypes(exclude='object').columns

In [10]:
cat_col

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [12]:
num_col

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [37]:
# - len

# - min

# - mean

# - median

# - max

# - 25p

# - 50p

# - 75p

In [34]:
wage_data=visa_df['prevailing_wage'] # reading the column
print(wage_data)

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [18]:
len(wage_data)

25480

In [20]:
np.min(wage_data)

2.1367

In [22]:
np.mean(wage_data)

74455.81459209183

In [24]:
np.median(wage_data)

70308.20999999999

In [26]:
np.max(wage_data)

319210.27

In [28]:
np.percentile(wage_data,25)

34015.479999999996

In [30]:
np.percentile(wage_data,50)

70308.20999999999

In [39]:
round(np.percentile(wage_data,75),2)

107735.51

In [43]:
wage_count=len(wage_data)
wage_min=round(np.min(wage_data),2)
wage_max=round(np.max(wage_data),2)
wage_mean=round(np.mean(wage_data),2)
wage_median=round(np.median(wage_data),2)

###################################################
wage_25p=round(np.percentile(wage_data,25),2)
wage_50p=round(np.percentile(wage_data,50),2)
wage_75p=round(np.percentile(wage_data,75),2)

##################################################
wage_25q=round(np.quantile(wage_data,0.25),2)
wage_50q=round(np.quantile(wage_data,0.50),2)
wage_75q=round(np.quantile(wage_data,0.75),2)
###################################################


# USING PANDAS
wage_min_pd=round(wage_data.min(),2)
wage_max_pd=round(wage_data.max(),2)
wage_mean_pd=round(wage_data.mean(),2)
wage_medain_pd=round(wage_data.median(),2)

In [45]:
print('The number of observations are:',wage_count)
################################################################
print('The min value of wage is:',wage_min)
print('The min value of wage is using pandas:',wage_min_pd)
#############################################################
print('The 25p value of wage is:',wage_25p)
print('The 25q value of wage is:',wage_25q)
#############################################################
print('The mean value of wage is:',wage_mean)
print('The mean value of wage is using pandas:',wage_mean_pd)
##################################################################
print('The 50p value of wage is:',wage_50p)
print('The 50q value of wage is:',wage_50q)
#####################################################################
print('The median value of wage is:',wage_median)
print('The median value of wage is using pandas:',wage_medain_pd)
#########################################################################
print('The 75p value of wage is:',wage_75p)
print('The 75q value of wage is:',wage_75q)
###############################################################################
print('The max value of wage is:',wage_max)
print('The max value of wage is using pandas:',wage_max_pd)

The number of observations are: 25480
The min value of wage is: 2.14
The min value of wage is using pandas: 2.14
The 25p value of wage is: 34015.48
The 25q value of wage is: 34015.48
The mean value of wage is: 74455.81
The mean value of wage is using pandas: 74455.81
The 50p value of wage is: 70308.21
The 50q value of wage is: 70308.21
The median value of wage is: 70308.21
The median value of wage is using pandas: 70308.21
The 75p value of wage is: 107735.51
The 75q value of wage is: 107735.51
The max value of wage is: 319210.27
The max value of wage is using pandas: 319210.27

In [47]:
num_col

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [73]:
data=visa_df['prevailing_wage']
count=len(data)
minn=round(np.min(data),2)
maxx=round(np.max(data),2)
mean=round(np.mean(data),2)
median=round(np.median(data),2)
p_25=round(np.percentile(data,25),2)
p_50=round(np.percentile(data,50),2)
p_75=round(np.percentile(data,75),2)
index=['Count','Min','Max','Mean','Median','25p','50p','75p']
values=[count,minn,maxx,mean,median,p_25,p_50,p_75]
pd.DataFrame(values,index,columns=['Prevailing Wage'])

        Prevailing Wage
Count          25480.00
Min                2.14
Max           319210.27
Mean           74455.81
Median         70308.21
25p            34015.48
50p            70308.21
75p           107735.51

In [61]:
num_col

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [93]:
index=['Count','Min','Max','Mean','Median','25p','50p','75p']
for  i in num_col:
    data=visa_df[i]
    count=len(data)
    minn=round(np.min(data),2)
    maxx=round(np.max(data),2)
    mean=round(np.mean(data),2)
    median=round(np.median(data),2)
    p_25=round(np.percentile(data,25),2)
    p_50=round(np.percentile(data,50),2)
    p_75=round(np.percentile(data,75),2)
    values=[count,minn,maxx,mean,median,p_25,p_50,p_75]
    df=pd.DataFrame(values,index=index,columns=[i])

In [95]:
df # only last DF is coming 
   # DF is overwriting past DF
   #so we will create empty DF and add data to existing DF

        prevailing_wage
Count          25480.00
Min                2.14
Max           319210.27
Mean           74455.81
Median         70308.21
25p            34015.48
50p            70308.21
75p           107735.51

In [97]:
df=pd.DataFrame()
index=['Count','Min','Max','Mean','Median','25p','50p','75p']
for  i in num_col:
    data=visa_df[i]
    count=len(data)
    minn=round(np.min(data),2)
    maxx=round(np.max(data),2)
    mean=round(np.mean(data),2)
    median=round(np.median(data),2)
    p_25=round(np.percentile(data,25),2)
    p_50=round(np.percentile(data,50),2)
    p_75=round(np.percentile(data,75),2)
    values=[count,minn,maxx,mean,median,p_25,p_50,p_75]
    df[i]=values
    df.index=index

In [99]:
df

        no_of_employees  yr_of_estab  prevailing_wage
Count          25480.00     25480.00         25480.00
Min              -26.00      1800.00             2.14
Max           602069.00      2016.00        319210.27
Mean            5667.04      1979.41         74455.81
Median          2109.00      1997.00         70308.21
25p             1022.00      1976.00         34015.48
50p             2109.00      1997.00         70308.21
75p             3504.00      2005.00        107735.51

**Describe Method**

In [104]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

**percentile**

- 25 percentage of data less than 34015.47

- 25 percentage data =25*25480/100=6370

- 6370 members has salary less than 34015.47

In [112]:
wage_data=visa_df['prevailing_wage']
p_25=np.percentile(wage_data,25)
p_25

34015.479999999996

In [122]:
con=wage_data<p_25
len(visa_df[con]) # 6370 rows came

6370

**Emperical Rule**

u-1sigma to u+1sigma how much data 68p

In [ ]:
# step-1: u=calculate mean of wage data
# step-2: sd=calculate sd of wage data
# step-3: lb=u-1*sd
# step-4: ub=u+1*sd
# step-5: con1=wage data > lb
# step-6: con2=wage data < ub
# step-7: con = con1 and con 2
# step-8: len(visa_df[con])
# step-9: 68*25480/100 == len(visa_df[con])

In [136]:
wage_data=visa_df['prevailing_wage']
u=np.mean(wage_data)
sd=np.std(wage_data)
lb=u-1*sd
ub=u+1*sd
con1=wage_data>lb
con2=wage_data<ub
con=con1 & con2
rows=len(visa_df[con])
rows==68*25480/100 # it is not following Emperical rule

False

In [140]:
68*25480/100 # 68p==> 68 percentage of people has salary less than 17326.6

17326.4

In [7]:
wage_data=visa_df['prevailing_wage']
u=np.mean(wage_data)
sd=np.std(wage_data)
lb=u-2*sd
ub=u+2*sd
con1=wage_data>lb
con2=wage_data<ub
con=con1 & con2
rows=len(visa_df[con])
rows==95*25480/100 # it is not following Emperical rule

False

In [9]:
a=10
b=20
c=a+b
print(c)

30